@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element.element-atom,
.interactive.interactive-atom{
	margin-left: 0px !important;

	margin-bottom: 20px !important;

    @include mq(desktop){
    	margin-left: 0px !important;
    }
    @include mq(leftCol) {
    	margin-left: 40px !important;
    }
    @include mq(wide) {
    	margin-left: 60px !important;
    }
}

.null{fill:lightgrey; opacity: 0;}
.NA{fill:red}
.Not.populist{fill:orange}
.Somewhat.populist{fill:green}
.Populist{fill:violet}
.Very.Populist{fill:lightblue}

h3{
	font-size: 32px;
	font-weight: 800;
}

.axis{
	stroke:black;
}

.Latin.America.and.Caribbean{fill:red;}
.Western.Europe{fill:lightblue;}
.Central.and.Eastern.Europe{fill:lightgrey;}
.North.America{fill:blue;}
.South.Asia{fill:orange;}